<div class="row">
  <div class="col">
    <h2><%=link_to @venue.name, @venue%></h2>
    <% if @venue.venue_img.attached?%>
      <img src="<%=url_for(@venue.venue_img)%>" class="card-img-top">
    <% end %>
    <h3>Venue Details</h3>
    <ul>
      <li><%=link_to @venue.website, @venue.website, target: '_blank'%></li>
      <li><%=@venue.street_address%></li>
      <li><%="#{@venue.city}, #{@venue.state} #{@venue.zip_code}"%></li>
    </ul>
  </div>
</div>