<div class="row mt-3">
  <div class="col-md-9">
    <div id="mapid"></div>
  </div>
  <div class="col">
    <div id="deets">
      Select a venue to get details!
    </div>
  </div>
</div>
<hr>
<div class="row">
  <h2>Venues</h2>
  <div class="col">
  </div>
  <br>
  <%= link_to 'New Venue', new_venue_path %>
</div>
<script>
  if (typeof venueMap === 'undefined') {generateMap()}
  function generateMap() {
    var venueMap = L.map('mapid').setView(<%=Geocoder.search("Portland, OR").first.coordinates%>, 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: '<%=ENV["MAPBOX_API_KEY"]%>'
    }).addTo(venueMap);
    <%@venues.each do |venue| %>
      <%if venue.geocoded?%>
        myIcon = L.icon({
          iconUrl: "<%= asset_path venue.has_all_ages? ? 'marker_aa.png' : 'marker.png'%>",
          iconSize: setIconSize(<%=venue.shows.upcoming.count%>),
        });
        const marker_<%=venue.id%> = L.marker(<%=venue.to_coordinates%>, {icon: myIcon}).addTo(venueMap)
        marker_<%=venue.id%>.bindPopup('<%= link_to "#{venue.name}", venue, remote: true %><br>Shows: <%=venue.shows.count%>')
      <%end%>
    <%end%>
  }
  function setIconSize(shows) {
    const initialIconSize = [20,28]
    const iconSizeMultiplier = 1 + shows/50
    return initialIconSize.map(size => size * (iconSizeMultiplier <= 2 ? iconSizeMultiplier : 2))
  }
</script>
