<p id="notice"><%= notice %></p>
<h1>Venues</h1>
<h2>A map!</h2>
<div id="mapid"></div>
<%= paginate @venues%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= venue.street_address %></td>
        <td><%= link_to 'Show', venue %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @venues%>
<br>
<%= link_to 'New Venue', new_venue_path %>
<script>
  let coords = <%=Geocoder.search("Portland, OR").first.coordinates%>
  
  var mymap = L.map('mapid').setView(coords, 13);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: '<%=ENV["MAPBOX_API_KEY"]%>'
  }).addTo(mymap);
  <%Venue.all.each do |venue| %>
    <%if venue.geocoded?%>
      const marker_<%=venue.id%> = L.marker(<%=venue.to_coordinates%>).addTo(mymap)
      marker_<%=venue.id%>.bindPopup("<%=venue.name%>")
    <%end%>
  <%end%>
</script>
