<div class="row venue-header mb-3">
  <div class="text-overlay d-flex">
    <div class="col align-self-end">
      <h1 class="display-1"><%=@venue.name%></h1>
      <ul>
        <li><%=link_to @venue.website, @venue.website, target: '_blank'%></li>
        <li><%=@venue.street_address%></li>
        <li><%="#{@venue.city}, #{@venue.state} #{@venue.zip_code}"%></li>
      </ul>
    </div>
  </div>
</div>
<h2>Upcoming Shows</h2>
<div class="row">
  <div class="col">
    <%= render :partial => "shows/venue_shows_grid", :locals => {:shows => @venue.shows.upcoming}%>
  </div>
</div>
<hr>
<h2>Past Shows</h2>
<div class="row">
  <div class="col">
    <%= render :partial => "shows/venue_shows_grid", :locals => {:shows => @venue.shows.reverse_order.past}%>
  </div>
</div>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %> |
<%= link_to 'Add Show', new_venue_show_path(@venue) %>
