<% if shows.any? %>
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead class="show-table">
        <tr >
          <th class="col-1" scope="col">Date/Time</th>
          <th class="col-2">Venue</th>
          <th scope="col">Show</th>
          <th class="col-1 text-end" scope="col">All Ages</th>
          <th class="col-1 text-end" scope="col">Cost</th>
          <th class="col-1 text-end" scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        <% shows.order(:showtime).each do |s| %>
          <% if s.showtime != nil %>
            <% date = s.showtime.strftime('%b %-d') %>
            <% date_long = s.showtime.strftime('%B %-d, %Y') %>
            <% time = s.showtime.strftime('%I:%M %p') %>
          <%else%>
            <% date = "N/A" %>
            <% time=""%>
          <%end%>
          <tr>
            <th scope="row">
              <div class="col">
                <span title="<%=date_long%>"><%=date%></span><br>
                <%=time%>
              </div>
            </th>
            <td><%=link_to Venue.find(s.venue_id).name, venue_path(Venue.find(s.venue_id)) %></td>
            <td>
              <div class="col">
                <strong><%=s.title%></strong>
                <br>
                <%=s.get_artists%>
              </div>
            </td>
            <td class="text-end"><%=s.all_ages ? "YES!" : "21+"%></td>
            <td class="text-end"><%=s.price ? number_to_currency(s.price) : "FREE" %></td>
            <td class="text-end">
              <% if s.url != nil%>
                <strong><%= link_to "🡥", s.url, target: "_blank", class:"btn btn-primary"%></strong>
              <%else%>
              <%end%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No upcoming shows</p>
<% end %>
