<% if shows.any? %>
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="col-1" scope="col">Date/Time</th>
          <th scope="col">Show</th>
          <th class="col-1" scope="col">All Ages</th>
          <th class="col-1" scope="col">Cost</th>
          <th class="col-2" scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        <% shows.order(:showtime).reverse_order.each do |s| %>
          <% if s.showtime != nil %>
            <% date = s.showtime.strftime('%b %-d') %>
            <% time = s.showtime.strftime('%I:%M%p') %>
          <%else%>
            <% date = "N/A" %>
            <% time=""%>
          <%end%>
          <tr>
            <th scope="row">
              <div class="col">
                <%=date%><br>
                <%=time%>
              </div>
            </th>
            <td>
              <div class="col">
                <strong><%=s.title%></strong>
                <br>
                <%=s.artist1%>
              </div>
            </td>
            <td><%=s.all_ages ? "YES!" : "21+"%></td>
            <td><%=s.price ? "$#{s.price}" : "FREE" %></td>
            <td>
              <% if s.url != nil%>
                <%= link_to "More info", s.url, target: "_blank", class:"btn btn-primary"%>
              <%else%>
                
              <%end%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No upcoming shows</p>
<% end %>
