<% if @venue.shows.any? %>
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Show</th>
          <th scope="col">All Ages</th>
          <th scope="col">Cost</th>
          <th scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        <% @venue.shows.order(:showtime).reverse_order.each do |s| %>
          <tr>
            <th scope="row">
              <div class="row"><%=s.showtime%></div>
              <div class="row"><%=s.showtime%></div>
            </th>
            <td>
              <div class="row"><%=s.title%></div>
              <div class="row"><%=s.artist1%></div>
            </td>
            <td><%=s.all_ages%></td>
            <td><%=s.price%></td>
            <td><%=s.url%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No upcoming shows</p>
<% end %>
