<div class="row venue-header mb-3" id="venue-header">
  <div class="text-overlay d-flex">
    <div class="col align-self-end">
      <h1 class="display-1"><%=@show.title%></h1>
      <h2><%=@venue.name%></h2>
      <h3><% date = @show.showtime.strftime('%b %-d') %>
        <% date_long = @show.showtime.strftime('%B %-d, %Y') %>
        <% time = @show.showtime.strftime('%l:%M %p') %>
        <span style="border-top: solid white 1px" title="<%=date_long%>"><%=date%> <%=time%></span>
      </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Show Details</h3>
    <p><%=@show.details%></p>
  </div>
  <div class="col">
    <h3>Artists</h3>
    <ul>
      <%@show.artist_list.each do |artist|%>
      <%if !artist.blank?%>
        <li><%=artist%></li>
      <%end%>
    <%end%>
  </ul>
</div>
</div>
<hr>
<h2>Other Shows at <%=@venue.name%></h2>
<div class="row">
  <% @venue.shows.includes([:show_img_attachment]).limit(8).each do |show| %>
    <%= render :partial => "shows/show_card",:locals => {:show => show} %>
  <%end%>
</div>

<%= link_to 'Edit Show', edit_show_path(@show) %> |
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %> |
<%= link_to 'Add Show', new_venue_show_path(@venue) %>

<script>
  <% if @show.show_img.attached?%>
  setHeaderBg('<%=url_for(@show.show_img)%>')
  <%else%>
    <%if @venue.venue_img.attached?%>
      setHeaderBg('<%=url_for(@venue.venue_img)%>')
    <%end%>
  <%end%>
    function setHeaderBg(image) {
      document.getElementById('venue-header').style.backgroundImage = `url('${image}')`;
    }
</script>
