<!DOCTYPE html>
<html>
  <head>
    <title>Musicalendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%if flash[:alert] %>
        <div class="alert alert-danger mt-3" role="alert">
          <%= flash[:alert] %>
        </div>
      <%end%>
      <%if flash[:notice] %>
        <div class="alert alert-success mt-3" role="alert">
          <%= flash[:notice] %>
        </div>
      <%end%>
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
